.projects-section {
  padding: 48px 72px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.project-card {
  background: var(--card-background);
  border: 1px solid var(--border-soft);
  border-radius: 18px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: top;
  border-radius: 14px;
  display: block;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.project-card-content h3,
.project-card-content p {
  margin: 0;
}

.project-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.project-tags span {
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  border: 1px solid var(--border-soft);
  background: var(--card-background);
}